@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    position: relative;
    background-color: #f3f3f3;
}

img {
    border: none;
}

li {
    list-style: none;
}

input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

/*清除浮动*/
.clear-box {
    clear: both;
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*头部*/
.header {
    width: 100%;
    border-bottom: 1px solid #cecece;
    position: absolute;
    top: 0;
    height: 43px;
    background-color: #b2191b;
}

.header .header-box {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
}

.header .header-box .header-img {
    width: 12%;
    text-align: left;
    color: #FFFFFF;
}

.header .header-box .c-tit {
    width: 80%;
    /*20px*/
    font-size: 1.25rem;
    color: #333333;
}

.header .header-box .l-img {
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

.header-box .header-img .r-img {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.header-box .text-tit {
    position: absolute;
    left: 15%;
    top: 0;
    width: 70%;
    /*20px*/
    font-size: 1.25rem;
    color: #FFFFFF;
    text-align: center;

}

/*中间部分*/
.mains {
    width: 100%;
    position: absolute;
    top: 44px;
    bottom: 49px;
    left: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

.tit-box {
    width: 92%;
    margin: 0 auto;
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #cecece;
}

.tit-box .tit-text {
    color: #333333;
}

.tit-box .phone {
    color: #666666;
}

.lists-box {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.lists-box ul {
    background-color: #FFFFFF;
}

.lists-box ul li {
    width: 92%;
    margin: 0 auto;
    height: 120px;
    border-bottom: 1px solid #cecece;
}

.lists-box ul li:last-child {
    margin-bottom: 50px;
}

.lists-box ul li .check-box {
    width: 10%;
    height: 120px;
    line-height: 120px;
    text-align: center;
}

.check-box img {
    height: 16px;
}

.lists-box ul li .li-img {
    width: 30%;
    text-align: center;
    height: 90px;
    margin-top: 15px;
    border: 1px solid #b2191b;

}

.li-img img {
    height: 88px;
}

.li-texts {
    width: 55%;
    margin-left: 10px;
}

.li-texts p {
    height: 20px;
    line-height: 20px;
}

.li-texts h5 {
    margin-top: 15px;
    color: #333333;
}

.li-texts .num-text {
    color: #333333;
    font-size: 0.75rem;
}

.price-frames {
    margin-top: 30px;
}

.li-texts .price-text {
    color: #b2191b;
    font-style: italic;
}

.price-frames .com-nums {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #cecece;
    margin-right: -1px;
}

/*底部*/
.footer {
    width: 100%;
    height: 49px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cecece;
    background-color: #FFFFFF;
}

.price-box {
    width: 50%;
    height: 49px;
    line-height: 49px;
    color: #b2191b;
    text-align: center;
    font-style: italic;
}

.footer-btn {
    width: 50%;
    height: 49px;
    line-height: 49px;
    background-color: #b2191b;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
}

/*地址*/

.address-box {
    width: 100%;
    height: 90px;
    background-color: #eeeeee;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0, 0 100%, from(transparent), color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff)),
    -webkit-gradient(linear, 50% 0, 100% 100%, from(transparent), color-stop(.5, transparent), color-stop(.5, #ffffff), to(#ffffff));
    background-size: 17px 8px;
    background-repeat: repeat-x;
    background-position: 0 100%;
}

.address-box .address-com {
    width: 90%;
    margin: 0 auto;
    color: #666666;
    font-size: 0.75rem;
    line-height: 24px;
}


.arrow-box {
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 120;
}

.arrow-box img {
    height: 18px;
}

.geng-duo-di-zhi{
	background-color: #eeeeee;
	text-align: center;
	line-height: 26px;
    border-bottom: 1px solid #cecece;
    font-size: 0.75rem;
	color: #333333;
    font-family: "Microsoft YaHei";
}

.address-tit {
    width: 20%;
}

.address-conts {
    width: 80%;
}

/*订单*/
.one-price {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #b2191b;
    font-size: 0.81rem;
}

.total-price {
    color: #b2191b;
    font-size: 1rem;
    font-style: italic;
}

.remark-box {
    color: #666666;
    font-size: 0.81rem;
    margin-bottom: 10px;
}

.remark-com {
    width: 100%;
    height: 26px;
    line-height: 26px;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

.remark-box input[type="date"] {
    width: 100px;
    text-align: right;
}

.remark-box input[type="text"] {
    width: 80%;
    height: 22px;
    line-height: 22px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    text-indent: 5px;
    margin-right: 20px;
}

/*收货地址*/
.address-lis {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.address-lis li {
    width: 100%;
    margin-top: 3px;
    background-color: #FFFFFF;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.top-li p {
    width: 90%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    font-size: 0.81rem;
    color: #666666;
}

.top-li {
    border-bottom: 1px solid #eeeeee;
}

.down-li {
    width: 90%;
    margin: 0 auto;
    font-size: 0.75rem;
}

.check-texts {
    height: 40px;
    line-height: 40px;
}

.oper-texts {
    height: 40px;
    line-height: 40px;
}

.check-texts img {
    display: inline-block;
    height: 16px;
    vertical-align: sub;
}

.check-texts span {
    color: #999999;
}

.check-texts span.check-span {
    color: #b2191b;
}

.oper-texts span {
    padding-left: 20px;
    color: #999999;
}

/*新增地址*/
.address-infos {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.address-infos ul {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eeeeee;
}

.address-infos ul li {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.87rem;
}

.address-infos ul li:last-child {
    border-bottom: none;
    font-size: 0.75rem;
}

.oper-texts input {
    width: 200px;
    text-align: right;
    font-size: 0.81rem;
}
.oper-texts input::-webkit-input-placeholder{
    color: #999999;
}

.oper-texts .oper-img {
    height: 16px;
    display: inline-block;
    vertical-align: sub;
}

.address-area textarea {
    text-align: right;
    width: 200px;
    font-size: 0.81rem;
}

.address-area textarea::-webkit-input-placeholder {
    text-align: right;
    padding-top: 10px;
    color: #999999;

}

.btn-order {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    height: 40px;
    line-height: 40px;
    z-index: 1000;
    text-align: center;
    color: #FFFFFF;
    background-color: #b2191b;
    border-radius: 3px;
}
